.footer {
  padding: 0 0 50px 0;
  background-image: url('../../assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}

.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  color: #4A2FBD;
}


.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer-socials {
  margin-top: 20px;
  a {
    display: inline-block;
    margin: 0 15px;
    img {
      width: 40px;
      transition: transform 0.3s ease-in-out;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}